
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  font-weight: normal;
}

body, html {
  height: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

body {
  background: #363636 url(img/lodyas.png);
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

aside {
  width: 20%;
  height: 100%;
  float: left;
  padding: 20px;
  padding-bottom: 50px;
  overflow: scroll;
  background: rgba(255,255,255,.3);
}

section {
  margin-bottom: 20px;
}

#banana-beat {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

button {
  background: #FFDB42;
  border: none;
  border-radius: 7px;
  display: block;
  margin: 2px auto;
  padding: 2px;
}

button:focus {
  outline: none;
}

button:active {
  background: #dbba39;
}

h1, h2 {
  text-align: center;
  font-family: Comfortaa, cursive;
  font-weight: bold;
  font-size: 1.4em;
  margin: 5px 0 7px;
  clear: both;
}

select, input {
  border: none;
  padding: 2px;
  border-radius: 2px;
}

select:focus, input:focus {
  outline-color: #000;
  outline-width: 2px;
}

#tempo-change {
  text-align: center;
  margin-bottom: 10px;
  font-family: Comfortaa, cursive;
  font-weight: bold;
}

#tempo-change #tempo-value{
  width: 3em;
  text-align: right;
  background: rgba(255,255,255,.1);
  margin-bottom: 5px;
}

#reset, #random-button {
  width: 60%;
  margin-bottom: 5px;
}

#reset {
  background: #999;
  margin-bottom: 20px;
}

#reset:active {
  background: #888;
}

#random-button:hover {
  animation: rainbow 2s infinite;
}

@keyframes rainbow {
  0% {background-color: hsl(0, 80%, 50%);}
  10% {background-color: hsl(30, 80%, 50%);}
  20% {background-color: hsl(60, 80%, 50%);}
  30% {background-color: hsl(90, 80%, 50%);}
  40% {background-color: hsl(120, 80%, 50%);}
  50% {background-color: hsl(150, 80%, 50%);}
  60% {background-color: hsl(180, 80%, 50%);}
  70% {background-color: hsl(210, 80%, 50%);}
  80% {background-color: hsl(240, 80%, 50%);}
  90% {background-color: hsl(270, 80%, 50%);}
  100% {background-color: hsl(300, 80%, 50%);}
}

#options {
  text-align: center;
}

#options button {
  width: 45%;
  display: inline-block;
}

#d0 {
  margin-bottom: 7px;
}

#piano-settings p {
  display: inline-block;
  width: auto;
}

#octave-menu, #wave-menu {
  width: 55%;
}

#export-import {
  text-align: center;
}

#export-import button, #export-import input {
  display: inline-block;
}

#export-import button {
  width: 80px;
}

#export-import input {
  width: calc(90% - 80px);
  margin-bottom: 5px;
}

#export-form input {
  background: #ccc;
}

#save-form input {
  margin-bottom: 5px;
}

#save-form button {
  margin-bottom: 10px;
}

.saved-state {
  position: relative;
  border-radius: 2px;
  margin-bottom: 5px;
  background: rgba(255,255,255,.2);
  padding: 10px;
}

.saved-state button {
  width: 50px;
  position: absolute;
  bottom: 2px;
  right: 3px;
  background-color: #555;
  color: #bbb;
  font-weight: lighter;
  font-size: .8em;
}

.saved-state button:active {
  background: #F43030;
}

#clear-saves {
  margin-top: 10px;
  background-color: #555;
  color: #bbb;
}

#clear-saves:active {
  background: #F43030;
}

footer {
  background: #707070;
  width: 20%;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

main {
  width: 80%;
  height: 100%;
  float: right;
  padding: 10px;
  overflow: hidden;
}

#beats {
  height: 60%;
  overflow: scroll;
  margin: 0;
}

#grid-beat {
  height: 100%;
  border-spacing: 0px;
}

#grid-beat td {
  text-align: center;
  border: 2px solid #1e1e1e;
  width: calc(80% / 17);
  height: calc(60% / 7);
  background-color: white;
}

#grid-beat .drum-label {
  border: 1px solid #1e1e1e;
  width: 6%;
  padding: 2px;
  background: rgba(255,255,255,.3);
  position: relative;
  font-size: .8em;
}

.drum-label span {
  display: inline-block;
  height: calc(100% - 24px);
  line-height: 1em;
}

.drum-label div {
  display: block;
  position: relative;
  height: 30px;
}

.drum-label button {
  position: absolute;
  top: 0;
  width: 20px;
  border-radius: 10px;
}

.drum-label .volume-drop {
  left: 7%;
  padding: 2px 0;
}

.drum-label .mute-button {
  right: 7%;
  height: 20px;
  background: #999;
  background-image: url(img/mute.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

.drum-label img {
  width: 14px;
}

#entire-piano {
  height: 40%;
  margin-bottom: 0;
  margin-top: 3px;
}

#entire-piano #piano-volume {
  text-align: center;
  width: calc(80%/12);
  padding: 1% 0;
  background: rgba(255,255,255,.3);
  border: 2px solid #333;
  font-family: Poppins, sans-serif;
  font-weight: lighter;
  font-size: .75em;
  color: #000;
  float: left;
  height: 100%;
}

#piano-volume input {
  height: 85%;
  line-height: 100%;
}

#piano-box {
  font-family: Comfortaa, cursive;
  position: relative;
  height: 100%;
  width: calc(100% - calc(80%/12));
  margin-bottom: 0;
  float: right;
}

#piano {
  height: 100%;
}

#piano td {
  width: calc(80% / 8);
  border: 10px outset #eee;
  border-top: none;
  background: #fff;
  color: #9A9A9A;
  vertical-align: bottom;
  text-align: center;
}

.black-key{
  width: calc(75% / 8);
  height: 60%;
  background-color: black;
  border: 10px outset #555;
  border-top: none;
  color: #777;
  text-align: center;
}

.black-key span {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#piano-box .pressed {
  color: #8C0000;
  background-color: red;
  border-color: #e00000;
  border-style: inset;
  border-top: none;
}

#c-sharp{
  position: absolute;
  top: 2px;
  left: calc(125% / 16);
}

#d-sharp{
  position: absolute;
  top: 2px;
  left: calc(calc(125% / 16) * 2.6);
}

#f-sharp{
  position: absolute;
  top: 2px;
  left: calc(calc(125% / 16) * 5.8);
}

#g-sharp{
  position: absolute;
  top: 2px;
  left: calc(calc(125% / 16) * 7.4);
}

#a-sharp{
  position: absolute;
  top: 2px;
  left: calc(calc(125% / 16) * 9);
}

.hide {
  display: none;
}

#piano-slider{
  -webkit-appearance: slider-vertical;
}

.drum-slider{
  display: inline-block;
  float:left;
  -webkit-appearance: slider-vertical;
}

.mute-button{
  float: right;
  width: 90%;
}

#play-pause{
  position: relative;
  margin: 0 auto 15px;
  width: 40%;
}

#banana-spiral{
    transition: transform;
    width: 100%;
    height: 100%;
}

#banana-spiral.spinning{
    animation-name: spin;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#playhead, #playhead-paused{
  position:absolute;
  bottom: 42%;
  left: 37%;
  width: auto;
  height: 25%;
}

#au {
  width: 80%;
  min-width: 474px;
  height: 100%;
  margin: 3% auto;
  font-weight: lighter;
}

#au .beaters {
  display: inline-block;
  width: 24%;
  text-align: center;
}

#au h1, #au h2 {
  color: #FFDB42;
}

#au h1 {
  font-size: 2em;
  margin-bottom: 2%;
}

#au h2 {
  font-size: 1.6em;
}

#au img{
  width: 100%;
}

#au a {
  color: #FFDB42;
  text-decoration: none;
}

#au a:hover {
  text-decoration: underline;
}

#banana-drum {
  margin-top: 4%;
  height: 20%;
  min-height: 140px;
  text-align: center;
}

#banana-drum img {
  height: 100%;
  width: auto;
}

#au #home-link {
  margin-top: 2%;
  font-family: Comfortaa, cursive;
  font-size: 3em;
  display: block;
  width: 100%;
  text-align: center;
}

#browser-error {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  color: #FFDB42;
}

#browser-error img {
  height: 100px;
  width: auto;
}

#browser-error a {
  color: #FFDB42;
  text-decoration: none;
}

#browser-error a:hover {
  text-decoration: underline;
}
